{% extends "view_portate/base.html" %}
{% block content %}
{{ Map | safe }}
{% endblock content %}
{% block sidebar %}
    <table class="table">
    <thead>
        <tr>
            <th>Punto di misura</th>
            <th>Media</th>
            <th>Last</th>
            <th>Stato</th>
        </tr>
    </thead>
        <tbody>
        {% for index,riga in diz %}
            <tr>
                <td>{{ riga.Punto_di_misura }}</td>
                <td>{{ riga.Portata_media_globale }}</td>
                <td>{{ riga.Ultimo_valore }}</td>
                {% if riga.Stato == 'In servizio' %}
                    <td style="color: skyblue">{{ riga.Stato }}</td>
                {% elif riga.Stato == 'Guasto' %}
                    <td style="color: red">{{ riga.Stato }}</td>
                {% elif riga.Stato %}
                    <td>{{ riga.Stato }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock sidebar %}
