{% extends "view_portate/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="content-section">
                {{ Map | safe }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-section">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Punto di misura</th>
                            <th>Media ± σ (l/s)</th>
                            <th>Ultimo dato</th>
                            <th>Stato</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for index,riga in tab_feed %}
                    <tr>
                        <td>{{ riga.Punto_di_misura }}</td>
                        {% if riga.Portata_media_globale == "" %}
                            <td></td>
                        {% else %}
                            <td>{{ riga.Portata_media_globale }} ± {{ riga.Dev_portata }}</td>
                        {% endif %}
                        {% if riga.Portata_media_globale == "" %}
                            <td></td>
                        {% else %}
                        <td>{{ riga.Ultimo_valore }} l/s, {{ riga.Ultimo_timestamp }}</td>
                        {% endif %}
                        {% if riga.Stato == 'In servizio' %}
                            <td style="color: {{ colori.blu }}">{{ riga.Stato }}</td>
                        {% elif riga.Stato == 'Guasto' %}
                            <td style="color: red">{{ riga.Stato }}</td>
                        {% elif riga.Stato == 'In valutazione' %}
                            <td style="color: black">{{ riga.Stato }}</td>
                        {% elif riga.Stato == 'Da installare' %}
                            <td style="color: {{ colori.arancione }}">{{ riga.Stato }}</td>
                        {% elif riga.Stato == 'Inaccessibile' %}
                            <td style="color: {{ colori.grigio }}">{{ riga.Stato }}</td>
                        {% elif riga.Stato == 'Non assegnato' %}
                            <td style="color: {{ colori.verde }}">{{ riga.Stato }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}