{% extends "view_portate/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="content-section">
                <p>{{ portata | safe }}</p>
                <p>Per rimuovere i dati anomali viene applicato un <a href="https://it.mathworks.com/help/matlab/ref/rmoutliers.html" target="_blank" rel="noopener noreferrer">filtro di Hampel</a>
                con una finestra di campionamento di 300 elementi. Sui dati ottenuti viene applicata un media mobile (in grafico).</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-section">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>{{ histo | safe }}</td>
                    </tr>
                    <tr>
                        <td>{{ durata | safe }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}


